---
- name: Create users
  hosts: all
  become: yes

  vars:
    users:
      - username: Alice
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62383139376630663432663938366561616331306231336466383063616536646136666338323066
          3239373766363862356466343830356433623464323764350a306466363937366161363935373066
          61376538333331323432333063663239643864303264336566373535353063303635613666626230
          3264653231666266620a356631393562303131323430323134396266613535653238656661656665
          65653261623532323264376366366638623132333233653037663433666666313264
      - username: Bob
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          37646631336234386139333437643232356432393266383933363935363065326439336133393430
          3163646162646166353638386233306531313862323633610a303364613535353061613265383533
          32356164626434386333613139333163643861363030323064313936326235386664623136656132
          6335323666393037370a656536313661656465613936326537643566373335626630326330663836
          66616539353334663430643538383131646338333130366566643131393161346634
      - username: Carol
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33363564653333343036373164313236336239643631373032633738376333343238323639643365
          6566353439336330356436346561306434373265393961310a633435323662623336323666316266
          65376364343136393738656237353631616265636263633232343664636332376332346465393265
          3833633463646465340a646332393136313362343731346434376562626435393234653465343937
          39613134366362336238396330316163653039363937343662646435376430616232

  tasks:
    
    - name: Create users
      user:
        name: "{{ item.username  }}"
        comment: "{{ item.username  }}@example.com"
        home: "/home/{{ item.username  }}-user"
        password: "{{ item.password | password_hash('sha512')}}"
      loop: "{{  users  }}"
